<section class="section">
  <div class="section-title">
    <h1>Mi Perfil</h1>
  </div>
</section>

<div class="user-container">
  <div class="user-center">
    <article class="userinfo-container" *ngIf="myUser">
      <h1>{{myUser.email}}</h1>
      <!-- Single Section -->
      <div class="userinfo-sect">
        <h2>Datos Personales</h2>
        <div class="userinfo-data">
          <h3>
            <span> Nombre: </span>
            {{ myUser.name }}
          </h3>
          <h3>
            <span> Apellido: </span>
            {{ myUser.surname }}
          </h3>
        </div>
      </div>
      <!-- Single Section -->
      <div class="userinfo-sect">
        <h2>Datos De la Cuenta</h2>
        <div class="userinfo-data">
          <h3>
            <span> Usuario: </span>
            {{ myUser.username }}
          </h3>
          <h3>
            <span> E-mail: </span>
            {{ myUser.email }}
          </h3>
        </div>
      </div>
      <!-- Single Section -->
      <div class="userinfo-sect">
        <h2>Datos de Facturacion</h2>
        <div class="userinfo-data">
          <h3>
            <span> Pais: </span>
            {{ myUser.country }}
          </h3>
          <h3>
            <span> Provincia: </span>
            {{ myUser.state }}
          </h3>
          <h3>
            <span> Ciudad: </span>
            {{ myUser.city }}
          </h3>
        </div>
      </div>
    </article>
  </div>
</div>
