<section class="section">
  <div class="section-title">
    <h1>Detalles</h1>
  </div>

  <article class="details-container">
    <div class="details-center">
      <div class="carousel-container">
        <img
          src="/assets/images/product_audifonos.jpeg"
          alt=""
          class="carousel-main-img"
        />
        <div class="carousel-gallery">
          <img src="/assets/images/category_mochila.jpeg" alt="" />
        </div>
      </div>
      <div class="description-container">
        <div class="prod-rating-container">
          <div class="stars">5</div>
          <p class="reviews">10 Reseñas</p>
        </div>
        <div class="prod-name-container">
          <h2>Audifonos</h2>
        </div>
        <div class="prod-desc-container">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis
            praesentium quasi nobis non autem dicta libero quaerat corporis
            dolores tenetur.
          </p>
        </div>
        <div class="prod-stock-container">
          <h3>
            Disponible:
            <span> Si. </span>
          </h3>
          <h3>
            Stock:
            <span> 10u. </span>
          </h3>
        </div>
      </div>
    </div>
  </article>
</section>
