.categories-container {
  z-index: 200;
  padding-top: 1.5rem;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 3rem;
  .categories-center {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.7rem;
  }
  article {
    height: 6.5rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    span {
      border-radius: 50%;
      background-color: #cccccc;
      width: 5rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      box-shadow: 0px 0px 6px rgba(20, 20, 20, 0.6);
    }
    h2 {
      font-size: 0.7rem;
      color: #565656;
      font-weight: 400;
      text-transform: capitalize !important;
      line-height: normal;
      white-space: normal;
    }
  }
}
