<!-- Banner -->
<div class="banner-container">
  <div class="banner-img-container">
    <div class="banner-img-overlay"></div>
    <img src="assets/images/bg-banner.jpeg" alt="SBA Store" />
  </div>
  <div class="banner-text-container">
    <div class="banner-text">
      <h1>My Store</h1>
      <span>¡Consigue un 5% de descuento adicional en tu primera compra!</span>
    </div>
  </div>
</div>
<!-- END Banner -->
<!-- Categories -->
<section class="section category-sect">
  <h1 class="section-title">Categorias</h1>
  <app-categorias></app-categorias>
</section>
<!-- END Categories -->
