.banner-container {
  height: 21rem;
  background: #ffb13ba2;
  padding-top: 2.3rem;
  position: relative;
}
.banner-text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  span {
    color: #1a1a1a;
    font-size: 1.7rem;
    letter-spacing: 1.5px;
    font-weight: 350;
    line-height: 1.3;
  }
}

// ---> MEDIA QUERIES <---
@import "../../../include-media";
// How to use:
// @include media (">=phone" , "<=desktop")
// 'phone': 375px,
// 'tablet': 768px,
// 'laptop': 992px,
// 'desktop': 1250px,
// 'LGdesktop': 1920px,

@include media(">=phone", "<=tablet") {
}
