<div class="sidebar-container">
  <div class="sidebar-main">
    <div class="sidebar-center">
      <!-- Header -->
      <div class="side-header">
        <div class="side-header-left">
          <h2 *ngIf="loggedUser != null">
            Bienvenido:
            <span>
              {{ loggedUser }}
            </span>
          </h2>
        </div>
        <div class="side-header-right" (click)="closeSidebar()">
          <mat-icon> close </mat-icon>
        </div>
      </div>
      <!-- Products -->
      <div class="side-section">
        <h2>Explorar</h2>
        <hr />
        <div class="side-links">
          <p>Productos</p>
          <p>Categorias</p>
          <p></p>
        </div>
      </div>
      <!-- User -->
      <div class="side-section">
        <h2>Usuarios</h2>
        <hr />
        <div class="side-links">
          <p>Mi Perfil</p>
          <p routerLink="/crear-productos">Vender</p>
          <p>Historial de Compras</p>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-shadow"></div>
</div>
