.sidebar-container {
  width: 100%;
  z-index: 1000;
  transition: 0.3s linear all;
  // Sidebar
  .sidebar-main {
    width: 100%;
    height: 93%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 1000;
    transition: 0.2s linear all;
    .sidebar-center {
      width: 80%;
      margin: 0 auto;
      padding: 2rem 0rem;
      // Header
      .side-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.7rem;
        .side-header-left {
          h2 {
            font-size: 0.9rem;
            letter-spacing: 1.3px;
            font-weight: 300;
          }
          span {
            font-size: 0.9rem;
            letter-spacing: 1px;
            font-weight: 400;
          }
        }
        .side-header-right > * {
          color: crimson;
          font-size: 2rem;
          cursor: pointer;
          transition: 0.2s linear all;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      // Side-Section
      .side-section {
        margin-bottom: 2rem;
        h2 {
          font-size: 1.2rem;
          letter-spacing: 1.2px;
          font-weight: 400;
        }
        hr {
          opacity: 0.3;
        }
        .side-links {
          padding-top: 1rem;
          p {
            font-size: 1rem;
            letter-spacing: 2px;
            font-weight: 300;
            cursor: pointer;
            transition: 0.2s linear all;
            &:hover {
              color: crimson;
            }
          }
        }
      }
    }
  }
  // Shadow
  .sidebar-shadow {
    width: 100%;
    height: 7%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.6;
    z-index: 1000;
    transition: 0.2s linear all;
  }
}
@media (min-width: 800px) {
  .sidebar-container {
    .sidebar-main {
      .sidebar-center {
        padding-top: 3.5rem;
      }
    }
  }
}
