<!-- Navigation Bar -->
<nav class="nav-container">
  <div class="nav-center">
    <!-- TOP -->
    <div class="nav-top">
      <div class="nav-logo-container" routerLink="/">
        <img src="/assets/images/MyStoreLogo.png" alt="MyStore" />
      </div>
      <div class="nav-top-right">
        <div class="nav-user-container">
          <span routerLink="/login" *ngIf="(isAuthenticated | async) == false"
            >Entrar</span
          >
          <span *ngIf="(isAuthenticated | async) == true" (click)="logout()"
            >Salir</span
          >
        </div>
        <div class="nav-cart-container">
          <mat-icon routerLink="/pages/cart">shopping_bag</mat-icon>
        </div>
      </div>
    </div>
    <!-- BOT -->
    <div class="nav-bot">
      <div class="nav-ham-container">
        <span class="material-icons" (click)="openSidebar()"> menu </span>
      </div>
      <div class="nav-search-container">
        <button mat-menu-item>
          <mat-icon> search</mat-icon>
          <input
            type="text"
            placeholder="Buscar"
            [(ngModel)]="selectedName"
            (ngModelChange)="fireRedirect()"
          />
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- Sidebar -->
<app-sidebar *ngIf="(sidebarToggle | async) == true"></app-sidebar>

<!-- Router Outlet -->
<div class="outlet-container">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="footer-container">
  <div class="footer-main">
    <h2>Mapa del Sitio</h2>
    <p routerLink="/pages/all-categories">Categorias</p>
    <p routerLink="/pages/all-products">Productos</p>
    <p routerLink="/pages/usuarios">Mi Cuenta</p>
  </div>
  <div class="footer-center">
    <div class="footer-copy">
      <h2>@ {{ currentYear }} MyStore.</h2>
    </div>
  </div>
</footer>
